<footer>
  <hr>
  <p class="center"> Site d'aide-mémoire partagée</p>
  <p class="center"> Joël Hamilcaro - PW6 Groupe B - n°Etudiant : 21503259 </p>
  <p class="contact"> Contacts : joel.hamilcaro@gmail.com</p>
</footer>
</body>
</html>
